<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>熙心健康体检系统</title>
		<style>
			#app{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			img{
				margin-top: 100px;
			}
			.divtext{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<!-- 最外层div -->
		<div id="app">
			<div>
				<img src="../img/welcome.png"/>
				<!-- 文字部分 -->
				<div class="divtext">
					<h3>欢迎进入熙心健康体检系统</h3>
					<h4>高校办公，高校生活</h4>
				</div>
			</div>
		</div>
	</body>
</html>